* {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    background-color: #1b182b;
    color: white;


}

h2 {
    color: white;
    margin-left: 20px;
}

span {
    color: orangered;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-right a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .header-right a {
        width: 100%;
        padding: 10px 0;
        text-align: left;
    }
}



.games-section .card img {
    height: 200px;
    object-fit: cover;
}

.soon {
    color: white;
    font-size: larger;
}

.game-card {
    position: relative;
    background-color: #1e1e1e;
    border: none;
    overflow: hidden;
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
}

.game-card .card-title {
    margin: 0;
    font-size: 1rem;
}

.game-card .card-text {
    margin: 0;
    font-size: 0.875rem;
}

.game-card .rating {
    background-color: #ffc107;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.game-card {
    height: 400px;

}

footer {

    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}